<div class="card mb-4" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={{pokemon.url}} class="img-fluid rounded-start col-lg-12" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title text-center" style="text-transform: uppercase;"><strong id="nombre_pokemon">{{pokemon.name}}</strong></h5>
        <p class="text-center" ><strong>ID POKEDEX: <span id="id_pokemon">{{pokemon.id}}</span></strong></p>
      </div>
    </div>
  </div>
</div>
